<div class="container">
  <div class="title">Live Twitter Data</div>
  <div class="tweet-container">
    <ul>
      <li class="tweet-body" *ngFor="let tweetObj of tweetData">
        <div class="image-container">
          <div class="profile-avatar">
            <img class="img" [src]="tweetObj.img" />
          </div>
        </div>
        <div class="tweet">
          <div class="account-name">
            <span>{{tweetObj.name}}</span>
            <span class="email">{{tweetObj.email}}</span>
          </div>
          <div class="text">{{tweetObj.desc}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>